.grey-label-jobs {
    font-weight:bold;
    color:rgba(0,0,0,0.38);
    font-family:"Open Sans";
    font-size:20px;
    line-height: 25px;
    text-align:center;
    display:block;
    //left:20%!important;
    //top:20%!important;
   }