.apply-button-query-builder {
    //display: inline-block;
    //width: 18px!important;
    height: 23px!important;
    max-height: 30px!important;
    //height: 30px!important;
   // width: 105px!important;
   // max-width: 105px!important;
   //margin-top: 50px!important;
   margin-right:50px!important;
    //background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid #979797;
    //z-index: 1; 
   // position:relative;
    //background: url(get-resource-path('icons/job_add_NE.svg'))!important;
    background-repeat: no-repeat;
  }